.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  overflow: hidden;
  margin-right: 5px;
  cursor: pointer;
  color: white;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    width: 325px;
    height: 300px;
    position: absolute;
    top: -150px;
    -webkit-box-shadow: 1px 0px 31px 6px rgba(255, 255, 255, 0.27);
    box-shadow: 1px 0px 31px 6px rgba(255, 255, 255, 0.27);
    img {
      height: 140px;
    }
    video {
      height: 140px;
      width: 100%;
    }
    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;
      .icons {
        display: flex;
        margin-bottom: 10px;
        .icon {
          border: 2px solid white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 16px;
        }
      }
      .itemInfoTOp {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray;
        .limit {
            border: 1px solid gray;
            padding: 1px 3px;
            margin: 0 10px;
        }
    }
    .desc{
        font-size: 13px;
        margin-bottom: 10px;

    }
    .genre{
        font-size: 14px;
        color: lightgray;
    }
    }
  }
}
